<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div
                class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/management"
                    class="d-flex align-items-center pb-sm-3 mt-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 text-white-50">PROBAR</span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
                    id="menu">
                    <li>
                        <a href="/management/company" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-building text-light"></i><span class="text-light ms-1 d-none d-sm-inline">Şirket </span>
                        </a>
                    </li>
                    <li>
                        <a href="/management/user" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-people text-light"></i><span class="text-light ms-1 d-none d-sm-inline">Kullanıcı </span>
                        </a>
                    </li>
                    <li>
                        <a href="/management/reportdesigner" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-book text-light"></i><span class="text-light ms-1 d-none d-sm-inline">Rapor </span>
                        </a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">PROBAR</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" (click)="logOut()" href="#">Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto mt-5">
              
            </main>
            <footer class="row bg-light py-4 mt-auto">
                <div class="col"> Footer content here... </div>
            </footer>
        </div>
    </div>
</div>